MFMP_EMAIL=your_email_here
MFMP_PASSWORD=your_password_here
MFMP_LOGIN_URL=https://vendor.myfloridamarketplace.com/login

RIDEMETRO_EMAIL=your_email_here
RIDEMETRO_PASSWORD=your_password_here
RIDEMETRO_LOGIN_URL=https://ridemetro.bonfirehub.com/login
RIDEMETRO_OPPORTUNITIES_URL=https://ridemetro.bonfirehub.com/portal/?tab=openOpportunities

BIDNET_DIRECT_LINK=https://www.bidnetdirect.com/
BIDNET_USERNAME=your_email_here
BIDNET_PASSWORD=your_password_here

DOWNLOAD_DIR=../data/documents
HEADLESS=true
DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@localhost:5432/scraping-hub
