MFMP_EMAIL=your_email_here
MFMP_PASSWORD=your_password_here
MFMP_LOGIN_URL=https://vendor.myfloridamarketplace.com/login

RIDEMETRO_EMAIL=your_email_here
RIDEMETRO_PASSWORD=your_password_here
RIDEMETRO_LOGIN_URL=https://ridemetro.bonfirehub.com/login
RIDEMETRO_OPPORTUNITIES_URL=https://ridemetro.bonfirehub.com/portal/?tab=openOpportunities

BIDNET_DIRECT_LINK=https://www.bidnetdirect.com/
BIDNET_USERNAME=your_email_here
BIDNET_PASSWORD=your_password_here

NORTHDAKOTA_USERNAME=your_username_here
NORTHDAKOTA_PASSWORD=your_password_here
NORTHDAKOTA_HOMEPAGE_URL=https://public.ndbuys.nd.gov/page.aspx/en/buy/homepage/sup

SEPTA_USERNAME=your_username_here
SEPTA_PASSWORD=your_password_here
SEPTA_LOGIN_URL=https://epsadmin.septa.org/vendor/login/

Cal_ePROCURE_LINK=https://caleprocure.ca.gov/pages/BS3/login.aspx
Cal_ePROCURE_USERNAME=your_username_here
Cal_ePROCURE_PASSWORD=your_password_here

DOWNLOAD_DIR=../data/documents
HEADLESS=true
DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@localhost:5432/scraping-hub
